<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hello, Bootstrap Table!</title>

    <link rel="stylesheet" href="/AdminLTE-2.4.18/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webjars/bootstrap-table/dist/bootstrap-table.min.css">
</head>
<body>
<table id="table" class="modal-body">

</table>
<div id="schedule" >
    <button type="button" class="btn btn-success" id="add">新增</button>
    <button type="button" class="btn btn-danger" id="remove">删除</button>

</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">参与人信息</h4>
            </div>
            <form class="form-horizontal" id="form" role="form" action="/schedule/add" method="post">
                <div class="modal-body">
                    <input type="hidden" id="id" name="id" >
                    <div class="form-group">
                        <label for="userId" class="col-sm-3 control-label">报名号</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="userId" name="userId" required >
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="col-sm-3 control-label">来程方式</label>
                        <div class="col-sm-9">
                            <label class="radio-inline" th:each="travel : ${T(com.honji.exhibition.admin.enums.TravelModeEnum).values()}">
                                <input type="radio" name="arrivedTravelMode" th:value="${travel}" th:arrivedTravelMode="${travel.desc}" th:text="${travel.desc}">
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="arrivedNum" class="col-sm-3 control-label">来程班次</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="arrivedNum" name="arrivedNum" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="arrivedTime" class="col-sm-3 control-label">来程时间</label>
                        <div class="col-sm-9">
                            <input type="datetime-local" class="form-control" id="arrivedTime" name="arrivedTime" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">来程接送点</label>
                        <div class="col-sm-9">
                            <select class="form-control" name="arrivedPickUpStation" id="arrivedPickUpStation" required>
                                <option th:each="station : ${T(com.honji.exhibition.admin.enums.StationEnum).values()}"
                                        th:value="${station}" th:text="${station.desc}">
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="col-sm-3 control-label">返程方式</label>
                        <div class="col-sm-9">
                            <label class="radio-inline" th:each="travel : ${T(com.honji.exhibition.admin.enums.TravelModeEnum).values()}">
                                <input type="radio" name="leavedTravelMode" th:value="${travel}" th:leavedTravelMode="${travel.desc}" th:text="${travel.desc}">
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="leavedNum" class="col-sm-3 control-label">返程班次</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="leavedNum" name="leavedNum" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="leavedTime" class="col-sm-3 control-label">返程时间</label>
                        <div class="col-sm-9">
                            <input type="datetime-local" class="form-control" id="leavedTime" name="leavedTime" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">返程出发地</label>
                        <div class="col-sm-9">
                            <select class="form-control" name="leavedPickUpLocation" id="leavedPickUpLocation" required>
                                <option th:each="station : ${T(com.honji.exhibition.admin.enums.LeavePickUpLocationEnum).values()}"
                                        th:value="${station}" th:text="${station.desc}">
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">返程站点</label>
                        <div class="col-sm-9">
                            <select class="form-control" name="leavedStation" id="leavedStation" required>
                                <option th:each="station : ${T(com.honji.exhibition.admin.enums.LeaveStationEnum).values()}"
                                        th:value="${station}" th:text="${station.desc}">
                                </option>
                            </select>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" id="save" class="btn btn-primary">提交更改</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<!-- jQuery 3 -->
<script src="/AdminLTE-2.4.18/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="/AdminLTE-2.4.18/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<script src="/webjars/jquery-form/4.2.2/jquery.form.min.js"></script>
<script src="/webjars/bootstrap-table/dist/bootstrap-table.min.js"></script>
<script src="/webjars/bootbox.js/5.1.3/dist/bootbox.min.js"></script>
</body>


<script th:inline="javascript">

    $(function(){

        $('#table').bootstrapTable({
            url: '/schedule/list',
            pagination: true,
            sidePagination: "server",
            search: true,
            searchOnEnterKey: true,
            showSearchButton: true,
            //striped: true,
            toolbar: "#schedule",
            //showRefresh: true,
            clickToSelect: true,
            sortable: true,
            smartDisplay: false,
            pageNumber: 1,     //初始化加载第一页，默认第一页
            pageSize: 10,      //每页的记录行数（*）
            queryParams: function (params) {
                var param = {

                    limit : this.limit, // 页面大小
                    offset : this.offset, // 页码
                    page : this.pageNumber,
                    size : this.pageSize,
                    userId: this.searchText
                }
                return param;
            },
            onClickRow: function (row, $element) {
                //console.log(row.id);
            },
            onDblClickRow: function (row, $element) {
                $.ajax({
                    type: "GET",
                    url: "/schedule/get?id=" + row.id,
                    async: false,
                    success: function(data){
                        //console.log($("#arrivedPickUpStation option:contains('" + data.arrivedPickUpStation + "')").val());
                        $('#form').clearForm();
                        $('#id').val(data.id);
                        $('#userId').val(data.userId);
                        $('#arrivedNum').val(data.arrivedNum);
                        $('#arrivedTime').val(data.arrivedTime);
                        $('#leavedNum').val(data.leavedNum);
                        $('#leavedTime').val(data.leavedTime);
                        //根据自定义属性值选中
                        $("input:radio[name=arrivedTravelMode][arrivedTravelMode=" + data.arrivedTravelMode + "]")[0].checked=true;
                        $("#arrivedPickUpStation option:contains('" + data.arrivedPickUpStation + "')")[0].selected=true;
                        $("input:radio[name=leavedTravelMode][leavedTravelMode=" + data.leavedTravelMode + "]")[0].checked=true;
                        $("#leavedPickUpLocation option:contains('" + data.leavedPickUpLocation + "')")[0].selected=true;
                        $("#leavedStation option:contains('" + data.leavedStation + "')")[0].selected=true;

                    }
                });
                $('#myModal').modal('show');
            },
            columns: [ {
                field: '',
                checkbox: true, // 显示一个勾选框
                align: 'center', // 居中显示

                formatter: function (value, row, index) {
                    return row.id;
                }
            },{
                field: 'id',
                title: 'ID',
                visible: false
            }, {
                field: 'userId',
                title: '报名号'
            }, {
                field: 'arrivedTravelMode',
                title: '来程方式'
            }, {
                field: 'arrivedNum',
                title: '来程班次号'
            }, {
                field: 'arrivedTime',
                title: '来程时间'
            }, {
                field: 'arrivedPickUpStation',
                title: '来程接送点'
            }, {
                field: 'leavedTravelMode',
                title: '返程方式'
            }, {
                field: 'leavedNum',
                title: '返程班次号'
            }, {
                field: 'leavedTime',
                title: '返程时间'
            }, {
                field: 'leavedPickUpLocation',
                title: '返程出发地'
            }, {
                field: 'leavedStation',
                title: '返程站点'
            }]
        });

        $('#save').click(function() {
            if($('#form')[0].reportValidity()) {
                $.ajax({
                    type: "get",
                    url: "/user/get?id=" + $('#userId').val(),
                    success: function(data){
                        if (data.length == 0) {
                            alert("报名号不存在！");
                        } else {
                            $.ajax({
                                type: "post",
                                url: "/schedule/save",
                                data: $('#form').serialize(),
                                success: function(data){
                                    $('#myModal').modal('hide');
                                    $('#table').bootstrapTable('refresh');
                                },
                                error: function(data){
                                    alert("行程已经存在！");
                                }
                            });
                        }
                    }
                });

            }
        });

        $('#add').click(function () {
            //console.log($("#arrivedPickUpStation option:eq(1)").val());
            $('#id').val('');
            $('#form').resetForm();//无法重置hidden项
            $("input:radio[name=arrivedTravelMode]").get(0).checked=true;
            $("#arrivedPickUpStation option").get(1).selected=true;
            $("input:radio[name=leavedTravelMode]").get(0).checked=true;
            $("#leavedStation option").get(1).selected=true;
            $('#myModal').modal('show');
        });

        $('#remove').click(function () {
            // console.log($('#table').bootstrapTable('getSelections')[0].id);
            // if($('#dg').datagrid('getSelected') == null) {
            //     return;
            // }
            var ids = [];
            $.each($('#table').bootstrapTable('getSelections'), function(index, item){
                //console.log(item.id);
                ids.push(item.id);
            });
            bootbox.confirm("确认删除？",
                function(result){
                    if(result) {
                        $.ajax({
                            type: "POST",
                            url: "/schedule/remove",
                            traditional: true,
                            //async: false,
                            data: {
                                ids: ids
                            },
                            success: function(data){
                                $('#table').bootstrapTable('refresh');
                            }
                        });
                    }
                })
        });

    });

</script>
</html>